@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Poppins:wght@400;600&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --navbar-height: 6vh;
  --footer-height: 5vh;
  --first-padding: 8px;
  --second-padding: 16px;
  --third-padding: 32px;
  --fourth-padding: 64px;
}

body {
  background-color: #f3efec;
}

#con-inf-body-curse {
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #282630;
  box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.2);
}

.navbar-ul {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.navbar-ul-li {
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: var(--second-padding);
}

.navbar-ul-li-a {
  display: block;
  padding: 4vh;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
}

.navbar-ul-li-a:hover {
  background-color: #dd6822;
}

#Logo {
  height: 10vh;
  padding-right: 2vh;
}

#Buy {
  background-color: #1c5705;
}

#index-buynow {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
}

.index-main {
  display: grid;
  grid-template: 5vh auto 3vh auto 5vh / 1fr 1fr 15fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
}

.buy-main {
  display: grid;
  grid-template: repeat(4, auto) / 1fr auto 1fr auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 5vh;
  min-height: 100vh;
  background-color: #f3efec;
}

.about-main {
  display: flex;
  flex-flow: column wrap;
  margin: 4vw;
  padding: 3vw;
  color: white;
  background-color: #282630;
  border: #171520 solid 7px;
  min-height: 100vh;
  box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.2);
}

.about-div {
  margin-top: 10vh;
}

.about-title {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.about-para {
  font-size: 16px;
}

.res-main {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  margin: 4vw;
  padding: 3vw;
  color: white;
  background-color: #282630;
  border: #171520 solid 7px;
  box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.2);
}

.res-div {
  margin-top: 15vh;
}

.res-title {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.res-para {
  font-size: 16px;
}

.res-a {
  color: blue;
}
.t-buy-main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 5vw;
  color: white;
  background-color: #282630;
  border: #171520 solid 7px;
  margin: 5vw;
  padding: 2vw;
  box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.2);
}

.t-buy-grid1 {
  grid-area: 1 / 1 / 2 / 2;
  display: inline-flex;
  flex-flow: column wrap;
  align-content: center;
}

.t-buy-grid2 {
  grid-area: 1 / 2 / 2 / 3;
  display: inline-flex;
  flex-flow: column wrap;
  align-content: center;
}

.t-buy-grid3 {
  grid-area: 1 / 3 / 2 / 4;
  display: inline-flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}

#t-buy-book-name {
  align-self: center;
  margin-bottom: 5vh;
}

.t-buy-textbox {
  background-color: #222222;
  border: #111111 solid 7px;
  padding: 1vw;
  margin-top: 8vh;
}

.t-buy-cart {
}

#t-buy-price-tag {
  font-size: 30px;
  font-weight: 900;
}

#t-buy-shopping-cart {
  margin-top: 10vh;
  font-size: 150px;
}

.t-buy-div {
  margin-top: 4vh;
}

.t-buy-title {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.t-buy-para {
  margin-top: 2vh;
  font-size: 16px;
}

.t-buy-a {
  color: blue;
}

.con-inf-main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  margin: 3vw;
  margin-top: 2vw;
}

.con-inf-header {
  grid-area: 1/1/2/2;
  justify-self: center;
}

.con-inf-header-img {
  max-width: 40vw;
}

.con-inf-card {
  grid-area: 2/1/3/2;
  padding: 2vw;
  color: white;
  background-color: #282630;
  border: #171520 solid 7px;
  box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.2);
}

.con-inf-card-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  grid-column-gap: 5vw;
  grid-row-gap: 0px;
}

.con-inf-div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.con-inf-div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.con-inf-div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.con-inf-title {
  margin-top: 2vh;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#con-inf-japan-times {
  margin-bottom: 1vh;
}

.con-inf-para {
  font-size: 12px;
}

.con-inf-a {
  color: blue;
}

.buy-main-grid1 {
  grid-area: 2 / 2 / 3 / 3;
  display: inline-flex;
  flex-flow: column wrap;
  align-items: center;
  border: black;
  border-style: solid;
  box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.2);
}

.buy-main-grid2 {
  grid-area: 2 / 4 / 3 / 5;
  display: inline-flex;
  flex-flow: column wrap;
  align-items: center;
  border: black;
  border-style: solid;
  box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.2);
}

.buy-main-grid3 {
  grid-area: 3 / 2 / 4 / 3;
  display: inline-flex;
  flex-flow: column wrap;
  align-items: center;
  border: black;
  border-style: solid;
  box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.2);
}

.buy-main-grid4 {
  grid-area: 3 / 4 / 4 / 5;
  display: inline-flex;
  flex-flow: column wrap;
  align-items: center;
  border: black;
  border-style: solid;
  box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.2);
}

.buy-main-buy {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
  padding: 3vh;
  color: white;
  background-color: #282630;
  border: #171520 solid 3px;
  max-width: 95vw;
}

.buy-img-pos {
  grid-area: 1/1/2/2;
}

.buy-img {
  height: 50vh;
  border: black;
  border-style: solid;
  border-width: 2px;
  padding: 3px;
}

.buy-para {
  grid-area: 2/1/3/2;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 1vh;
}

.buy-shopping-cart {
  grid-area: 2/2/3/3;
}

.fa-shopping-cart {
  color: white;
  font-size: 70px;
}

.start-slider {
  grid-area: 2/2/3/5;
  background-color: #282630;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.2);
}

.start-slider-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.start-slider-1 {
  grid-area: 2 / 1 / 3 / 2;
  display: inline-flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 1vh;
  padding-bottom: 2vh;
  color: white;
}

.start-slider-2 {
  grid-area: 1 / 1/ 2 / 3;
  display: inline-flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 64px;
  font-weight: bolder;
  background-color: #dd6822;
  border-radius: 10px 10px 0px 0px;
}

.start-slider-3 {
  grid-area: 2 / 2 / 3 / 3;
  display: inline-flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 1vh;
  padding-bottom: 2vh;
  color: white;
}

.index-img {
  height: 50vh;
  padding: 0px;
}

.index-questions-reviews {
  grid-area: 4/3/5/4;
  background-color: #282630;
  color: white;
  border: black;
  border-style: solid;
  border-radius: 20px;
  padding: 2vh;
  box-shadow: 2px 2px 2px 1px rgba(10, 10, 10, 0.2);
}

/* Change for fitting qr */
.index-questions-reviews-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 2vh;
}

.index-questions {
  grid-area: 1 / 1 / 2 / 1;
}

.index-questions-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.index-reviews {
  grid-area: 2 / 1 / 3 / 2;
}

.index-reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  grid-column-gap: 2vh;
}

.index-review-1 {
  grid-area: 1/1/2/2;
}

.index-review-2 {
  grid-area: 1/2/2/3;
}

.index-review-3 {
  grid-area: 1/3/2/4;
}

.index-questions-para {
  font-size: 12px;
}

.index-reviews-title {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.index-reviews-para {
  font-size: 12px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 5vw;
  grid-row-gap: 0px;
  padding: 2vw;
  color: white;
  background-color: #282630;
}

.footer-nav-title {
  margin-top: 2vh;
  font-size: 14px;
}

.footer-title {
  font-size: 14px;
  text-align: center;
  margin-bottom: 1vh;
  font-family: "Poppins", sans-serif;
}

.footer-para {
  font-size: 12px;
  text-align: center;
}

.footer-social {
  grid-area: 1 / 1 / 2 / 2;
}

.footer-committed {
  grid-area: 1 / 2 / 2 / 3;
}

.footer-nav-pos {
  grid-area: 1 / 3 / 2 / 4;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #282630;
}

.footer-nav-ul {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.footer-nav-ul-li {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

.footer-nav-ul-li-a {
  display: block;
  padding: 1vh;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: blue;
}

.footer-nav-ul-li-a:hover {
  background-color: #dd6822;
}

@media screen and (max-width: 1100px) {
  .t-buy-main {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 5vh;
  }

  .t-buy-grid1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .t-buy-grid2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .t-buy-grid3 {
    grid-area: 3 / 1 / 4 / 2;
  }
}
@media screen and (max-width: 900px) {
  .index-main {
    display: grid;
    grid-template: 5vh auto 4vh auto 4vh / 1fr 1fr 15fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #f3efec;
  }
}
@media screen and (max-width: 768px) {
  .index-img {
    max-width: 80vw;
    padding: 0px;
    margin-top: 2vh;
    margin-bottom: 5vh;
  }

  .start-slider-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: grey;
    border: black;
    border-style: solid;
  }

  .start-slider-1 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .start-slider-2 {
    grid-area: 1 / 1/ 2 / 3;
  }

  .start-slider-3 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .index-reviews-grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 2vh;
  }

  .index-review-1 {
    grid-area: 1/1/2/2;
  }

  .index-review-2 {
    grid-area: 2/1/3/2;
  }

  .index-review-3 {
    grid-area: 3/1/4/2;
  }
  .buy-main {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr auto 1fr;
    grid-row-gap: 5vh;
    background-color: #f3efec;
  }

  .buy-main-grid1 {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 5vh;
  }

  .buy-main-grid2 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .buy-main-grid3 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .buy-main-grid4 {
    grid-area: 4 / 2 / 5 / 3;
  }

  .con-inf-main {
    grid-row-gap: 1vh;
    margin: 0px;
  }

  .con-inf-card-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .con-inf-div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .con-inf-div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .con-inf-div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .con-inf-header-img {
    max-width: 100vw;
  }

  .footer {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0vw;
    grid-row-gap: 5vh;
    padding: 2vw;
    color: white;
    background-color: #282630;
    margin-top: 2vh;
  }
  .footer-social {
    grid-area: 1 / 1 / 2 / 2;
  }

  .footer-committed {
    grid-area: 2 / 1 / 3 / 2;
  }

  .footer-nav-pos {
    grid-area: 3 / 1 / 4 / 2;
  }

  .footer-nav-ul {
    flex-flow: row wrap;
  }
}
@media screen and (max-width: 600px) {
  .start-slider-grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  .start-slider-1 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .start-slider-2 {
    grid-area: 1 / 1/ 2 / 2;
  }

  .start-slider-3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .buy-main-grid4 {
    margin-bottom: 3vh;
  }

  .about-para {
    font-size: 12px;
  }

  .t-buy-main {
    margin: 0px;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .t-buy-img {
    max-width: 90vw;
  }
  .t-buy-textbox {
    max-width: 90vw;
  }
}
@media screen and (max-width: 400px) {
  .fa-shopping-cart {
    font-size: 50px;
  }
}
