* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --navbar-height: 6vh;
  --footer-height: 5vh;
  --first-padding: 8px;
  --second-padding: 16px;
  --third-padding: 32px;
  --fourth-padding: 64px;
}

.navbar {
  /*height: var(--navbar-height);*/
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #979ba2;
  border: black;
  border-style: none none solid none;
}

.navbar-ul {
  display: inline-flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.navbar-ul-li {
  padding: var(--second-padding);
}

a:hover {
  background-color: #dd6822;
}

.navbar-ul-li:hover {
  background-color: #dd6822;
}

#Logo {
  /* position: relative;*/
  width: 46px;
  height: 46px;
  overflow: hidden;
  margin: -16px;
  padding-bottom: -8px;
  padding-top: 4px;
}

#Buy {
  display: inline-flex;
  justify-content: end;
}

.index-main {
  height: calc(100vh - (var(--second-padding) * 2));
  display: grid;
  grid-template: repeat(10, 10vh) / repeat(10, 10vw);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f3efec;
}

.buy-main {
  display: grid;
  grid-template: 5fr 15fr 3fr 15fr 3fr / 2fr 4fr 2fr 4fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f3efec;
}

.buy-main-grid1 {
  grid-area: 2 / 2 / 3 / 3;
  border: black;
  border-style: solid;
}

.buy-main-grid2 {
  grid-area: 2 / 4 / 3 / 5;
  border: black;
  border-style: solid;
}

.buy-main-grid3 {
  grid-area: 4 / 4 / 5 / 5;
  border: black;
  border-style: solid;
}

.buy-main-grid4 {
  grid-area: 4 / 2 / 5 / 3;
  border: black;
  border-style: solid;
}

.buy-main-buy {
  display: grid;
  grid-template: 4fr 1fr/1fr 1fr;
}

.buy-img {
  grid-area: 1/1/2/2;
  margin-top: 10px;
  margin-left: 10px;
  height: 50vh;
  border: black;
  border-style: solid;
  border-width: 2px;
  padding: 3px;
}

.buy-para {
  grid-area: 2/1/3/2;
  align-content: flex-end;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: var(--second-padding);
}

.buy-shopping-cart {
  grid-area: 2/2/3/3;
}

.fa-shopping-cart {
  font-size: 70px;
}

.start-slider {
  grid-area: 2/2/7/10;
}

.start-slider-grid {
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  grid-template-rows: 50vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: grey;
  border: black;
  border-style: solid;
}

.start-slider-1 {
  grid-area: 1 / 1 / 2 / 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.start-slider-2 {
  grid-area: 1 / 2 / 2 / 3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.index-img {
  height: 40vh;
}

.index-questions-reviews {
  grid-area: 8/3/10/9;
  background-color: brown;
  color: aqua;
  border: black;
  border-style: solid;
}

.index-questions-reviews-grid {
  display: grid;
  grid-template-columns: 20vw;
  grid-template-rows: repeat(2, 10vh);
}

.index-reviews-grid {
  display: grid;
  grid-template-columns: 20vw;
  grid-template-rows: repeat(2, 10vh);
}

.index-questions-reviews-grid {
  display: grid;
  grid-template-columns: 60vw;
  grid-template-rows: repeat(2, 10vh);
}

.index-questions {
  grid-area: 1 / 1 / 2 / 1;
  width: 60vw;
  height: 20vh;
}

.index-questions-grid {
  display: grid;
  grid-template-columns: 59vw;
  grid-template-rows: 2vh/8vh;
}

.index-reviews {
  grid-area: 2 / 1 / 3 / 2;
}

.index-reviews-grid {
  display: grid;
  grid-template-columns: repeat(
    3,
    33.333333333333333333333333333333333333333333333333333333%
  );
  grid-template-rows: 10vh;
}

.index-questions-para {
  display: inline-flex;
  font-size: var(--first-padding);
}

.index-reviews-title {
  font-size: var(--second-padding);
}

.index-reviews-para {
  font-size: var(--first-padding);
}

.filler-div {
  height: 0vw;
}

.footer {
  /*height: var(--footer-height);*/
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: aquamarine;
  padding: var(--first-padding);
  border: black;
  border-style: solid none none none;
}
/* @media screen and (max-width: 700px) {
.buy-main {
  grid-template: 1fr 3fr 1fr/ ;
} 
} */
