* {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  background-color: aquamarine;
}

.navbar-ul {
  display: inline-flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.navbar-ul-li {
  padding: 1vw;
}

#Buy {
  display: inline-flex;
  justify-content: end;
}

.mpm {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.iss {
  grid-area: 2/2/7/10;
  background-color: brown;
  color: aqua;
}

.iqr {
  grid-area: 8/3/10/9;
  background-color: brown;
  color: aqua;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  background-color: aquamarine;
  padding: 1vw;
}
